# Завдання 1.

Розробити типи для обслуговування читачiв у бiблiотечному абонемен- <br>
тi. Читач характеризується iменем, прiзвищем та реєстрацiйним номером. <br>

Книга характеризується облiковим номером, автором книги, назвою книги<br>
i жанром. Замовлення характеризується датою, облiковим номером книги,<br>
реєстрацiйним номером читача та ознакою виконання(так-нi). Iнформацiя<br>
про читачiв та книги подана окремими файлами. Замовлення також подано<br>
кiлькома окремими файлами.<br>
Отримати:<br>
1. для кожного читача ( за iменем i прiзвищем) повний перелiк авторiв<br>
(без повторень) замовлених книг у форматi<br>
< автор - кiлькiсть замовлених книг >;<br>
2. рейтинг читачiв за загальною кiлькiстю замовлених книг у форматi<br>
< прiзвище та iм’я читача - кiлькiсть замовлених книг >;<br>
3. для кожної книги кiлькiсть замовлень у форматi<br>
< автор - назва - кiлькiсть замовлень>;<br>
4. для кожного дня кiлькiсть виконаних замовлень та вiдмов.<br>

In [155]:
import csv
from datetime import datetime
import pandas as pd

In [156]:
class Validation:
    """Class for Validation representation."""

    @staticmethod
    def validateStr(func):
        def validateStrWrapper(w, value):
            if not(isinstance(value, str)):
                raise TypeError('must be an str')
            return func(w, value)
        return validateStrWrapper

    @staticmethod
    def validateFloat(func):
        def validateFloatWrapper(w, value):
            if not(isinstance(value, float)) and not(isinstance(value, int)):
                try:
                    value = float(value)
                except TypeError:
                    raise TypeError('must be an float')
            return func(w, value)
        return validateFloatWrapper

    @staticmethod
    def validateInt(func):
        def validateIntWrapper(w, value):
            if not(isinstance(value, int)):
                try:
                    value = int(value)
                except TypeError:
                    raise TypeError('must be an int')
            return func(w, value)
        return validateIntWrapper

    @staticmethod
    def validateSize(func):
        def validateSizeWrapper(w, value):
            if not(isinstance(value, int)) and not(isinstance(value, float)):
                try:
                    value = float(value)
                except TypeError:
                    raise TypeError('must be an float')
            if value < 0:
                raise ValueError("mast be positive")
            return func(w, value)
        return validateSizeWrapper

    @staticmethod
    def validateAmount(func):
        def validateAmountWrapper(w, value):
            if not(isinstance(value, int)):
                try:
                    value = int(value)
                except TypeError:
                    raise TypeError('must be an int')
            if value < 0:
                raise ValueError("mast be positive")
            return func(w, value)
        return validateAmountWrapper

    @staticmethod
    def validateDate(func):
        def validateDateWrapper(w, date):
            datetime.strptime(date, '%Y-%m-%d')
            return func(w, date)
        return validateDateWrapper
    
    @staticmethod
    def validateBool(func):
        def validateBoolWrapper(w, value):
            bools = ['yes', 'no', 'Yes', 'No', '0', '1', 0, 1, True, False, 'True', 'False']
            if value not in bools:
                raise ValueError("mast be boolean")
            return func(w, value)
        return validateBoolWrapper

In [157]:
class Reader:
    def __init__(self, r_name, r_last_name, r_id):
        self.r_name = r_name
        self.r_last_name = r_last_name
        self.r_id = r_id

    @property
    def r_name(self):
        return self._r_name

    @r_name.setter
    @Validation.validateStr
    def r_name(self, val):
        self._r_name = val

    @property
    def r_last_name(self):
        return self._r_last_name

    @r_last_name.setter
    @Validation.validateStr
    def r_last_name(self, val):
        self._r_last_name = val
    
    @property
    def r_id(self):
        return self._r_id

    @r_id.setter
    @Validation.validateAmount
    def r_id(self, val):
        self._r_id = val

    def full_name(self):
        return f'{self.r_name} {self.r_last_name}'

    def __str__(self):
        return f'reader name = {self.r_name}, reader last name = {self.r_last_name}, reader id = {self.r_id}'

    def __repr__(self):
        return f'reader_name={self.r_name}, reader_last_name={self.r_last_name}, reader_id={self.r_id}'

In [158]:
class Book:
    def __init__(self, b_reg_num, b_author, b_title, b_genre):
        self.b_reg_num = b_reg_num
        self.b_author = b_author
        self.b_title = b_title
        self.b_genre = b_genre

    @property
    def b_reg_num(self):
        return self._b_reg_num

    @b_reg_num.setter
    @Validation.validateAmount
    def b_reg_num(self, val):
        self._b_reg_num = val

    @property
    def b_author(self):
        return self._b_author

    @b_author.setter
    @Validation.validateStr
    def b_author(self, val):
        self._b_author = val

    @property
    def b_title(self):
        return self._b_title

    @b_title.setter
    @Validation.validateStr
    def b_title(self, val):
        self._b_title = val

    @property
    def b_genre(self):
        return self._b_genre

    @b_genre.setter
    @Validation.validateStr
    def b_genre(self, val):
        self._b_genre = val

    def __str__(self):
        return f'book reg num = {self.b_reg_num}, book author = {self.b_author}, book title = {self.b_title}, book genre = {self.b_genre}'

    def __repr__(self):
        return f'book_reg_num={self.b_reg_num}, book_author={self.b_author}, book_title={self.b_title}, book_genre={self.b_genre}'

In [159]:
class Order:
    def __init__(self, o_date, o_book_reg_num, o_reader_id, o_done):
        self.o_date = o_date
        self.o_book_reg_num = o_book_reg_num
        self.o_reader_id = o_reader_id
        self.o_done = o_done

    @property
    def o_date(self):
        return self._o_date

    @o_date.setter
    @Validation.validateDate
    def o_date(self, val):
        self._o_date = val

    @property
    def o_book_reg_num(self):
        return self._o_book_reg_num

    @o_book_reg_num.setter
    @Validation.validateAmount
    def o_book_reg_num(self, val):
        self._o_book_reg_num = val

    @property
    def o_reader_id(self):
        return self._o_reader_id

    @o_reader_id.setter
    @Validation.validateAmount
    def o_reader_id(self, val):
        self._o_reader_id = val

    @property
    def o_done(self):
        return self._o_done

    @o_done.setter
    @Validation.validateBool
    def o_done(self, val):
        self._o_done = val

    def __str__(self):
        return f'order date = {self.o_date}, order book reg num = {self.o_book_reg_num}, order reader id = {self.o_reader_id}, order done = {self.o_done}'

    def __repr__(self):
        return f'order_date={self.o_date}, order_book_reg_num={self.o_book_reg_num}, order_reader_id={self.o_reader_id}, order_done={self.o_done}'

In [160]:
def read_csv_file(file_name, t, objects):  
    with open(file_name, 'r') as v:
        r = csv.reader(v)
        next(r)
        for row in r:
            try:
                objects.append(t(*row))
            except Exception as e:
                print(f'{file_name}:\nline - {len(objects)}: {e}')
                continue

In [161]:
readers = []
books = []
orders = []

read_csv_file("readers.csv", Reader, readers)
read_csv_file("books.csv", Book, books)
read_csv_file("order1.csv", Order, orders)
read_csv_file("order2.csv", Order, orders)

readers, books, orders

([reader_name=Kelli, reader_last_name=King, reader_id=77,
  reader_name=Cristina, reader_last_name=Harber, reader_id=32,
  reader_name=Brando, reader_last_name=Stroman, reader_id=6,
  reader_name=Lavonne, reader_last_name=Hegmann, reader_id=11,
  reader_name=Ernest, reader_last_name=Wisoky, reader_id=33,
  reader_name=Herman, reader_last_name=Feil, reader_id=51,
  reader_name=Kathlyn, reader_last_name=White, reader_id=75,
  reader_name=Ervin, reader_last_name=Considine, reader_id=12,
  reader_name=Forest, reader_last_name=Kuhlman, reader_id=22,
  reader_name=Nils, reader_last_name=Jerde, reader_id=84],
 [book_reg_num=2194, book_author=Augustus_Ernser, book_title=Sausages, book_genre=Frozen,
  book_reg_num=60788, book_author=Edwin_Roberts, book_title=interface, book_genre=Checking Account,
  book_reg_num=17638, book_author=Jane_Feeney, book_title=systems, book_genre=benchmark,
  book_reg_num=25970, book_author=Jammie_Sporer, book_title=Salad, book_genre=indigo,
  book_reg_num=50027, book_author=Kaylin_Homenick, book_title=harness, book_genre=Sharable,
  book_reg_num=91211, book_author=Augustus_Ernser, book_title=background, book_genre=connecting,
  book_reg_num=1605, book_author=Iliana_Kertzmann, book_title=Bike, book_genre=Mount,
  book_reg_num=40127, book_author=Nadia_Erdman, book_title=SCSI, book_genre=Iran],
 [order_date=2020-11-02, order_book_reg_num=2194, order_reader_id=77, order_done=0,
  order_date=2020-11-05, order_book_reg_num=60788, order_reader_id=32, order_done=1,
  order_date=2020-11-23, order_book_reg_num=17638, order_reader_id=6, order_done=1,
  order_date=2020-12-03, order_book_reg_num=60788, order_reader_id=11, order_done=1,
  order_date=2020-12-08, order_book_reg_num=25970, order_reader_id=33, order_done=1,
  order_date=2020-12-10, order_book_reg_num=50027, order_reader_id=51, order_done=1,
  order_date=2020-12-23, order_book_reg_num=50027, order_reader_id=75, order_done=0,
  order_date=2020-12-24, order_book_reg_num=91211, order_reader_id=12, order_done=0,
  order_date=2020-12-29, order_book_reg_num=1605, order_reader_id=22, order_done=0,
  order_date=2020-10-10, order_book_reg_num=91211, order_reader_id=77, order_done=1,
  order_date=2020-11-09, order_book_reg_num=40127, order_reader_id=77, order_done=1,
  order_date=2020-11-09, order_book_reg_num=40127, order_reader_id=77, order_done=1,
  order_date=2020-11-09, order_book_reg_num=40127, order_reader_id=77, order_done=1,
  order_date=2020-11-23, order_book_reg_num=40127, order_reader_id=6, order_done=1,
  order_date=2020-12-08, order_book_reg_num=40127, order_reader_id=33, order_done=0,
  order_date=2020-12-10, order_book_reg_num=17638, order_reader_id=11, order_done=1,
  order_date=2020-12-23, order_book_reg_num=60788, order_reader_id=12, order_done=1,
  order_date=2020-12-18, order_book_reg_num=60788, order_reader_id=22, order_done=0,
  order_date=2020-12-23, order_book_reg_num=2194, order_reader_id=84, order_done=1,
  order_date=2020-12-25, order_book_reg_num=91211, order_reader_id=51, order_done=1,
  order_date=2020-12-29, order_book_reg_num=1605, order_reader_id=22, order_done=0])

# Task 1.
для кожного читача ( за iменем i прiзвищем) повний перелiк авторiв
(без повторень) замовлених книг у форматi
< автор - кiлькiсть замовлених книг >;

In [162]:
rearers_dict = dict()
for reader in readers:
    rearers_dict.setdefault(reader.full_name(), dict())
    o_b_s = list(filter(lambda o_b: o_b.o_reader_id == reader.r_id and o_b.o_done == "1", orders))
    for o_b in o_b_s:
        b = next(filter(lambda book: book.b_reg_num == o_b.o_book_reg_num, books)).b_author
        rearers_dict[reader.full_name()].setdefault(b, 0)
        rearers_dict[reader.full_name()][b] +=1

for k, v in rearers_dict.items():
    if v:
        print(f'\n{k}: ')
        for kk, vv in v.items():
            print(f'\t<{kk} - {vv}>')

Kelli King:
	<Augustus_Ernser - 1>
	<Nadia_Erdman - 3>

Cristina Harber:
	<Edwin_Roberts - 1>

Brando Stroman:
	<Jane_Feeney - 1>
	<Nadia_Erdman - 1>

Lavonne Hegmann:
	<Edwin_Roberts - 1>
	<Jane_Feeney - 1>

Ernest Wisoky:
	<Jammie_Sporer - 1>

Herman Feil:
	<Kaylin_Homenick - 1>
	<Augustus_Ernser - 1>

Ervin Considine:
	<Edwin_Roberts - 1>

Nils Jerde:
	<Augustus_Ernser - 1>

# Task 2. 
рейтинг читачiв за загальною кiлькiстю замовлених книг у форматi
< прiзвище та iм’я читача - кiлькiсть замовлених книг >;

In [163]:
reiting = dict((k, sum(list(v.values()))) for k, v in rearers_dict.items())

r_r_sorted = {k: v for k, v in sorted(reiting.items(), key=lambda item: item[1], reverse=True)}
temp = next(iter(r_r_sorted))
for k, v in r_r_sorted.items():
    if v != temp:
        print("\n")
    print(k, ':',v)
    temp = v

Kelli King : 4


Brando Stroman : 2
Lavonne Hegmann : 2
Herman Feil : 2


Cristina Harber : 1
Ernest Wisoky : 1
Ervin Considine : 1
Nils Jerde : 1


Kathlyn White : 0
Forest Kuhlman : 0

# Task 3
для кожної книги кiлькiсть замовлень у форматi
< автор - назва - кiлькiсть замовлень>;

In [164]:
for book in books:
    b_orders = list(filter(lambda b: book.b_reg_num == b.o_book_reg_num and b.o_done == '1', orders))
    print(f'{book.b_author} - {book.b_title} - {len(b_orders)}')

Augustus_Ernser - Sausages - 1
Edwin_Roberts - interface - 3
Jane_Feeney - systems - 2
Jammie_Sporer - Salad - 1
Kaylin_Homenick - harness - 1
Augustus_Ernser - background - 2
Iliana_Kertzmann - Bike - 0
Nadia_Erdman - SCSI - 4

# Task 4.
для кожного дня кiлькiсть виконаних замовлень та вiдмов.

In [165]:
d_d = {}
for rd in orders:
    d_d.setdefault(rd.o_date, {'done': 0, 'denied': 0})
    if rd.o_done == "1":
        d_d[rd.o_date]['done'] += 1
    else:
        d_d[rd.o_date]['denied'] += 1

d_d_sorted = {k: v for k, v in sorted(d_d.items())}

for k, v in d_d_sorted.items():
    print(f'\n{k}')
    for kk, vv in v.items():
        print('  ', kk, ':', vv)

2020-10-10
   done : 1
   denied : 0

2020-11-02
   done : 0
   denied : 1

2020-11-05
   done : 1
   denied : 0

2020-11-09
   done : 3
   denied : 0

2020-11-23
   done : 2
   denied : 0

2020-12-03
   done : 1
   denied : 0

2020-12-08
   done : 1
   denied : 1

2020-12-10
   done : 2
   denied : 0

2020-12-18
   done : 0
   denied : 1

2020-12-23
   done : 2
   denied : 1

2020-12-24
   done : 0
   denied : 1

2020-12-25
   done : 1
   denied : 0

2020-12-29
   done : 0
   denied : 2

# Pandas:

In [166]:
readers = pd.read_csv("readers.csv")
books = pd.read_csv("books.csv")
orders = [pd.read_csv("order1.csv"), pd.read_csv("order2.csv")]
orders = pd.concat(orders, ignore_index=True)

display(readers)
display(books)
display(orders)

big_df = pd.merge(orders, books, on='book_reg_num', how='left').fillna(0)
big_df = pd.merge(readers, big_df, on='reader_id', how='right').fillna(0)

display(big_df)

  reader_name reader_last_name  reader_id
0       Kelli             King         77
1    Cristina           Harber         32
2      Brando          Stroman          6
3     Lavonne          Hegmann         11
4      Ernest           Wisoky         33
5      Herman             Feil         51
6     Kathlyn            White         75
7       Ervin        Considine         12
8      Forest          Kuhlman         22
9        Nils            Jerde         84

   book_reg_num       book_author  book_title        book_genre
0          2194   Augustus_Ernser    Sausages            Frozen
1         60788     Edwin_Roberts   interface  Checking Account
2         17638       Jane_Feeney     systems         benchmark
3         25970     Jammie_Sporer       Salad            indigo
4         50027   Kaylin_Homenick     harness          Sharable
5         91211   Augustus_Ernser  background        connecting
6          1605  Iliana_Kertzmann        Bike             Mount
7         40127      Nadia_Erdman        SCSI              Iran

    order_date  book_reg_num  reader_id  order_done
0   2020-11-02          2194         77           0
1   2020-11-05         60788         32           1
2   2020-11-23         17638          6           1
3   2020-12-03         60788         11           1
4   2020-12-08         25970         33           1
5   2020-12-10         50027         51           1
6   2020-12-23         50027         75           0
7   2020-12-24         91211         12           0
8   2020-12-29          1605         22           0
9   2020-10-10         91211         77           1
10  2020-11-09         40127         77           1
11  2020-11-09         40127         77           1
12  2020-11-09         40127         77           1
13  2020-11-23         40127          6           1
14  2020-12-08         40127         33           0
15  2020-12-10         17638         11           1
16  2020-12-23         60788         12           1
17  2020-12-18         60788         22           0
18  2020-12-23          2194         84           1
19  2020-12-25         91211         51           1
20  2020-12-29          1605         22           0

,reader_name,reader_last_name,reader_id,order_date,book_reg_num,order_done,book_author,book_title,book_genre
0,Kelli,King,77,2020-11-02,2194,0,Augustus_Ernser,Sausages,Frozen
1,Kelli,King,77,2020-10-10,91211,1,Augustus_Ernser,background,connecting
2,Kelli,King,77,2020-11-09,40127,1,Nadia_Erdman,SCSI,Iran
3,Kelli,King,77,2020-11-09,40127,1,Nadia_Erdman,SCSI,Iran
4,Kelli,King,77,2020-11-09,40127,1,Nadia_Erdman,SCSI,Iran
5,Cristina,Harber,32,2020-11-05,60788,1,Edwin_Roberts,interface,Checking Account
6,Brando,Stroman,6,2020-11-23,17638,1,Jane_Feeney,systems,benchmark
7,Brando,Stroman,6,2020-11-23,40127,1,Nadia_Erdman,SCSI,Iran
8,Lavonne,Hegmann,11,2020-12-03,60788,1,Edwin_Roberts,interface,Checking Account
9,Lavonne,Hegmann,11,2020-12-10,17638,1,Jane_Feeney,systems,benchmark
10,Ernest,Wisoky,33,2020-12-08,25970,1,Jammie_Sporer,Salad,indigo
11,Ernest,Wisoky,33,2020-12-08,40127,0,Nadia_Erdman,SCSI,Iran
12,Herman,Feil,51,2020-12-10,50027,1,Kaylin_Homenick,harness,Sharable
13,Herman,Feil,51,2020-12-25,91211,1,Augustus_Ernser,background,connecting
14,Kathlyn,White,75,2020-12-23,50027,0,Kaylin_Homenick,harness,Sharable
15,Ervin,Considine,12,2020-12-24,91211,0,Augustus_Ernser,background,connecting
16,Ervin,Considine,12,2020-12-23,60788,1,Edwin_Roberts,interface,Checking Account
17,Forest,Kuhlman,22,2020-12-29,1605,0,Iliana_Kertzmann,Bike,Mount
18,Forest,Kuhlman,22,2020-12-18,60788,0,Edwin_Roberts,interface,Checking Account
19,Forest,Kuhlman,22,2020-12-29,1605,0,Iliana_Kertzmann,Bike,Mount
20,Nils,Jerde,84,2020-12-23,2194,1,Augustus_Ernser,Sausages,Frozen

# Task 1.
для кожного читача ( за iменем i прiзвищем) повний перелiк авторiв
(без повторень) замовлених книг у форматi
< автор - кiлькiсть замовлених книг >;

In [167]:
df1 = big_df.copy()
df1["reader_full_name"] = df1["reader_name"] + " " + df1["reader_last_name"]
df1 = df1[df1["order_done"] == 1]
df1 = df1.drop(["reader_name", "reader_last_name",	"reader_id",	"order_date",	"book_reg_num",	"order_done", "book_title",	"book_genre"], axis=1)
df1['COUNTER'] =1       
df1 = df1.groupby(["reader_full_name", "book_author"])['COUNTER'].sum().reset_index()
display(df1)

   reader_full_name      book_author  COUNTER
0    Brando Stroman      Jane_Feeney        1
1    Brando Stroman     Nadia_Erdman        1
2   Cristina Harber    Edwin_Roberts        1
3     Ernest Wisoky    Jammie_Sporer        1
4   Ervin Considine    Edwin_Roberts        1
5       Herman Feil  Augustus_Ernser        1
6       Herman Feil  Kaylin_Homenick        1
7        Kelli King  Augustus_Ernser        1
8        Kelli King     Nadia_Erdman        3
9   Lavonne Hegmann    Edwin_Roberts        1
10  Lavonne Hegmann      Jane_Feeney        1
11       Nils Jerde  Augustus_Ernser        1

# Task 2. 
рейтинг читачiв за загальною кiлькiстю замовлених книг у форматi
< прiзвище та iм’я читача - кiлькiсть замовлених книг >;

In [168]:
df1 = df1.groupby(["reader_full_name"])['COUNTER'].sum().reset_index()
df1 = df1.sort_values(by=['COUNTER'], ascending=False)
display(df1)

  reader_full_name  COUNTER
5       Kelli King        4
0   Brando Stroman        2
4      Herman Feil        2
6  Lavonne Hegmann        2
1  Cristina Harber        1
2    Ernest Wisoky        1
3  Ervin Considine        1
7       Nils Jerde        1

# Task 3
для кожної книги кiлькiсть замовлень у форматi
< автор - назва - кiлькiсть замовлень>;

In [169]:
df2 = big_df.copy()
df2 = df2[df2["order_done"] == 1]
df2 = df2.drop(["reader_name", "reader_last_name",	"reader_id",	"order_date",	"book_reg_num",	"order_done", "book_genre"], axis=1)
df2['COUNTER'] =1       
df2 = df2.groupby(["book_author", "book_title"])['COUNTER'].sum().reset_index()
display(df2)

       book_author  book_title  COUNTER
0  Augustus_Ernser    Sausages        1
1  Augustus_Ernser  background        2
2    Edwin_Roberts   interface        3
3    Jammie_Sporer       Salad        1
4      Jane_Feeney     systems        2
5  Kaylin_Homenick     harness        1
6     Nadia_Erdman        SCSI        4

# Task 4.
для кожного дня кiлькiсть виконаних замовлень та вiдмов.

In [170]:
df3 = big_df.copy()
df3['done'] = df3['order_done'] 
df3.loc[df3.order_done == 1, "denied"] = 0
df3.loc[df3.order_done == 0, "denied"] = 1   
df3 = df3.drop(["reader_name", "reader_last_name",	"reader_id",	"book_reg_num", "book_genre", "book_author", "book_title", "order_done"], axis=1)
df3 = df3.groupby("order_date").agg('sum').reset_index()
display(df3)

    order_date  done  denied
0   2020-10-10     1     0.0
1   2020-11-02     0     1.0
2   2020-11-05     1     0.0
3   2020-11-09     3     0.0
4   2020-11-23     2     0.0
5   2020-12-03     1     0.0
6   2020-12-08     1     1.0
7   2020-12-10     2     0.0
8   2020-12-18     0     1.0
9   2020-12-23     2     1.0
10  2020-12-24     0     1.0
11  2020-12-25     1     0.0
12  2020-12-29     0     2.0