Розробити типи для облiку видачi пацiєнтам лiкiв в медзакладi вiдповiдно до призначень лiкаря. Пацiєнт характеризується iменем i прiзвищем та реєстрацiйним номером. Призначення характеризується реєстрацiйним номером пацiєнта, датою, назвою лiкiв, дозою в мг i кiлькiстю прийомiв у день. Призначення та iнформацiя про пацiєнтiв подано окремими файлами. Отримати засобами Pandas вказанi в завданнях данi i вiзуалiзувати їх : <br>
<br>
1. для кожного пацiєнта ( за iменем i прiзвищем) повний перелiк (без повторень) отриманих лiкiв iз вказанням сумарної кiлькостi кожного препарату в мг; <br>
Крiм того, надати GUI з елементами:<br>
    – випадаючий список для задання пацiєнта за iменем i прiзвищем<br>
    – випадаючий список для задання назви препарату<br>
    – елемент для перiоду часу<br>
    – кнопка для побудови дiаграми отриманого пацiєнтом конкретного препарату за перiод часу.<br>
<br>
2. для кожного препарату загальний розхiд за перiоду часу. <br>
Крiм того, надати GUI з елементами:<br>
    – випадаючий список для задання назви препарату<br>
    – елемент для перiоду часу<br>
    – кнопка для побудови дiаграми загального розходу конкретного препарату за перiоду часу.<br>

In [71]:
import csv
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets
from datetime import datetime

# Task 1

In [72]:
patients = pd.read_csv('patients.csv')
cols = ["patient_name", "patient_last_name"]
patients['full_name'] = patients[cols].apply(lambda row: ' '.join(row.values.astype(str)), axis=1)
patients = patients.drop(cols, axis=1)
display(patients)

   patient_number        full_name
0               1    Alvera Hammes
1               2     Barry Conner
2               3     Brando Nolan
3               4   Miss Lueilwitz
4               5  Nakia Rodriguez

In [73]:
assigments = pd.read_csv('assigments.csv')
assigments.sort_values('patient_number', inplace = True)
display(assigments)

    patient_number     as_date          as_name  as_dose  as_count
0                1  2020-12-01          Ibuprom       85         4
5                1  2020-11-01          Ibuprom       31         6
10               1  2020-01-02          Estates       51         3
1                2  2020-11-01          Kopacul       15         2
7                2  2020-11-21          Ibuprom       43         3
11               2  2020-06-03           Ikarus       56         7
2                3  2020-10-01          Magenta       86         4
12               3  2020-12-01        Berkshire       83         5
3                4  2020-09-01          Estates       73         5
6                4  2020-11-11  Buckinghamshire        7         3
8                4  2020-10-09          Kopacul       54         3
13               4  2020-11-01  Buckinghamshire       10         5
4                5  2020-08-01           Ikarus       31         4
9                5  2020-01-01          Magenta       75         7

In [74]:
assigments_summed = pd.read_csv('assigments.csv')
assigments_summed['as_dose'] = assigments_summed.groupby(['patient_number', 'as_name'])['as_dose'].transform('sum')
assigments_summed['as_count'] = assigments_summed.groupby(['patient_number', 'as_name'])['as_count'].transform('sum')
assigments_summed = assigments_summed.drop_duplicates(subset =['patient_number',"as_name"])
display(assigments_summed)

    patient_number     as_date          as_name  as_dose  as_count
0                1  2020-12-01          Ibuprom      116        10
1                2  2020-11-01          Kopacul       15         2
2                3  2020-10-01          Magenta       86         4
3                4  2020-09-01          Estates       73         5
4                5  2020-08-01           Ikarus       31         4
6                4  2020-11-11  Buckinghamshire       17         8
7                2  2020-11-21          Ibuprom       43         3
8                4  2020-10-09          Kopacul       54         3
9                5  2020-01-01          Magenta       75         7
10               1  2020-01-02          Estates       51         3
11               2  2020-06-03           Ikarus       56         7
12               3  2020-12-01        Berkshire       83         5

In [75]:
big_df = pd.merge(patients, assigments_summed, on='patient_number', how='left').fillna(0)
display(big_df)

,patient_number,full_name,as_date,as_name,as_dose,as_count
0,1,Alvera Hammes,2020-12-01,Ibuprom,116,10
1,1,Alvera Hammes,2020-01-02,Estates,51,3
2,2,Barry Conner,2020-11-01,Kopacul,15,2
3,2,Barry Conner,2020-11-21,Ibuprom,43,3
4,2,Barry Conner,2020-06-03,Ikarus,56,7
5,3,Brando Nolan,2020-10-01,Magenta,86,4
6,3,Brando Nolan,2020-12-01,Berkshire,83,5
7,4,Miss Lueilwitz,2020-09-01,Estates,73,5
8,4,Miss Lueilwitz,2020-11-11,Buckinghamshire,17,8
9,4,Miss Lueilwitz,2020-10-09,Kopacul,54,3
10,5,Nakia Rodriguez,2020-08-01,Ikarus,31,4
11,5,Nakia Rodriguez,2020-01-01,Magenta,75,7

Крiм того, надати GUI з елементами:<br>
    – випадаючий список для задання пацiєнта за iменем i прiзвищем<br>
    – випадаючий список для задання назви препарату<br>
    – елемент для перiоду часу<br>
    – кнопка для побудови дiаграми отриманого пацiєнтом конкретного препарату за перiод часу.<br>

In [76]:
full_names = set(big_df["full_name"])
as_names = set(big_df["as_name"])
dates = pd.date_range(datetime(2020, 1, 1), datetime(2020, 12, 30), freq='D')
options=[(date.strftime(' %d %b %Y '), date) for date in dates]

selection_range_slider = widgets.SelectionRangeSlider(
    options=options,
    index=(0, len(options)-1),
    description='Dates',
    orientation='horizontal',
    layout={'width': '500px', "color": 'red'}
)

colors = widgets.ColorPicker(
    concise=False,
    description='Pick a color',
    value='blue',
    disabled=False
)

def choose(full_name, as_name, dates):
    df = big_df.copy()
    start, end = dates
    df = df[(df.full_name == full_name) & (df.as_name == as_name)]
    if not df.empty:
        def bottom(color, plot=False):
            if plot:
                pl = df.sort_values(by='as_date', ascending=False)
                pl["tot_dose"] = pl["as_dose"]*pl["as_count"]
                pl.plot(x='as_date', y='tot_dose', kind='bar', title=full_name + " " + as_name, figsize=(10, 5), rot=30, color=color);
        interact(bottom, color=colors)
   
    display(df)

interact(choose, full_name=full_names, as_name=as_names, dates=selection_range_slider);

interactive(children=(Dropdown(description='full_name', options=('Nakia Rodriguez', 'Miss Lueilwitz', 'Barry C…

    patient_number        full_name     as_date  as_name  as_dose  as_count
11               5  Nakia Rodriguez  2020-01-01  Magenta       75         7

2. для кожного препарату загальний розхiд за перiоду часу. <br>
Крiм того, надати GUI з елементами:<br>
    – випадаючий список для задання назви препарату<br>
    – елемент для перiоду часу<br>
    – кнопка для побудови дiаграми загального розходу конкретного препарату за перiоду часу.<br>

In [77]:

new_df = big_df.loc[:, ['as_date', 'as_name', 'as_dose', 'as_count']]
new_df['as_dose'] = new_df.groupby('as_name')['as_dose'].transform('sum')
new_df['as_count'] = new_df.groupby('as_name')['as_count'].transform('sum')
new_df =  new_df.drop_duplicates(subset =['as_date',"as_name"])
new_df['consumption'] = new_df['as_dose']*new_df['as_count']
new_df = new_df.drop(["as_dose", "as_count"], axis=1)

new_df["as_date"] = new_df["as_date"].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))
new_df

      as_date          as_name  consumption
0  2020-12-01          Ibuprom         2067
1  2020-01-02          Estates          992
2  2020-11-01          Kopacul          345
3  2020-11-21          Ibuprom         2067
4  2020-06-03           Ikarus          957
5  2020-10-01          Magenta         1771
6  2020-12-01        Berkshire          415
7  2020-09-01          Estates          992
8  2020-11-11  Buckinghamshire          136
9  2020-10-09          Kopacul          345
10 2020-08-01           Ikarus          957
11 2020-01-01          Magenta         1771

In [84]:
as_name = set(new_df["as_name"])
dates = pd.date_range(datetime(2020, 1, 1), datetime(2020, 12, 30), freq='D')
options=[(date.strftime(' %d %b %Y '), date) for date in dates]

selection_range_slider = widgets.SelectionRangeSlider(
    options=options,
    index=(0, len(options)-1),
    description='Dates',
    orientation='horizontal',
    layout={'width': '500px', "color": 'red'}
)

colors = widgets.ColorPicker(
    concise=False,
    description='Pick a color',
    value='blue',
    disabled=False
)

def choose(as_name, dates):
    df = new_df.copy()
    start, end = dates
    df = df[(df.as_name == as_name) & (df.as_date >= start) & (df.as_date <= end)]
    if not df.empty:

        def bottom(color, plot=False):
            if plot:
                pl = df.sort_values(by='as_date', ascending=False)
                pl.plot(x='as_date', y='consumption', kind='bar', title=as_name, figsize=(10, 5), rot=30, color=color);
                
        interact(bottom, color=colors)
    display(df)

interact(choose, as_name=as_names, dates=selection_range_slider);

interactive(children=(Dropdown(description='as_name', options=('Magenta', 'Kopacul', 'Ibuprom', 'Ikarus', 'Buc…

      as_date  as_name  consumption
5  2020-10-01  Magenta         1771
11 2020-01-01  Magenta         1771