# Task
Розробити типи для вiдбору на навчання за результатами тестування.</br>

Претенденти характеризуються прiзвищем, iменем та iдентифiкацiйним но-</br>
мером. Тести характеризуються номером претендента, назвою предмета та</br>

кiлькiстю балiв. Для зарахування на факультет враховується сума балiв iз</br>
двох заданих предметiв, причому враховуються лише тi результати, якi не</br>
меншi прохiдного балу для конкретного предмета.</br>
Данi учасникiв тестування i тестiв задано у двох окремих файлах.</br>

1. Отримати для учасника, заданого випадаючим списком, перелiк пре- </br>
дметiв з набраними балами, впорядковуючи його за спаданням балiв (вра- </br>
ховувати лише наявнi результати);</br>

1а.побудувати дiаграму результатiв заданого учасника.</br>

2. Для предмета, заданого випадаючим списком, отримати рейтинг уча-</br>
сникiв за результатами тестiв;</br>

2а.побудувати дiаграму результатiв заданого предмета вiдповiдно до п.2.</br>
3. Для факультету, заданого випадаючим списком, побудувати рейтинг</br>

претендентiв за сумою результатiв (бiльших за прохiдний бал, який зада-</br>
вати слайдером для кожного предмета) з вiдповiдних предметiв;</br>

3а.побудувати дiаграму претендентiв для п.3.</br>

3б.За допомогою текстового вiджета задати кiлькiсть мiсць для зараху-</br>
вання на факультет за п.3 i отримати фiнальний список.</br>

Розробити типи для вiдбору на навчання за результатами тестування. Претенденти характеризуються прiзвищем, iменем та iдентифiкацiйним но- <br>мером. Тести характеризуються номером претендента, назвою предмета та кiлькiстю балiв. Для зарахування на факультет враховується сума <br>балiв iз двох заданих предметiв, причому враховуються лише тi результати, якi не меншi прохiдного балу для конкретного предмета.<br>
Данi учасникiв тестування i тестiв задано у двох окремих файлах.<br>
1. Отримати для учасника, заданого випадаючим списком, перелiк пре- дметiв з набраними балами, впорядковуючи його за спаданням балiв (вра- <br>ховувати лише наявнi результати);<br>
1а.побудувати дiаграму результатiв заданого учасника.<br>
2. Для предмета, заданого випадаючим списком, отримати рейтинг уча- сникiв за результатами тестiв;<br>
2а.побудувати дiаграму результатiв заданого предмета вiдповiдно до п.2.<br>
3. Для факультету, заданого випадаючим списком, побудувати рейтинг претендентiв за сумою результатiв (бiльших за прохiдний бал, який <br>зада- вати слайдером для кожного предмета) з вiдповiдних предметiв;<br>
3а.побудувати дiаграму претендентiв для п.3.<br>
3б.За допомогою текстового вiджета задати кiлькiсть мiсць для зараху- вання на факультет за п.3 i отримати фiнальний список.<br>

In [271]:
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets
import ipywidgets as widgets
import matplotlib.pyplot as plt
import numpy as np
import csv
import pandas as pd
from IPython.display import Image

In [272]:
class Validation:
    """Class for Validation representation."""

    @staticmethod
    def validateStr(func):
        def validateStrWrapper(w, value):
            if not(isinstance(value, str)):
                raise TypeError('must be an str')
            return func(w, value)
        return validateStrWrapper

    @staticmethod
    def validateFloat(func):
        def validateFloatWrapper(w, value):
            if not(isinstance(value, float)) and not(isinstance(value, int)):
                try:
                    value = float(value)
                except TypeError:
                    raise TypeError('must be an float')
            return func(w, value)
        return validateFloatWrapper

    @staticmethod
    def validateInt(func):
        def validateIntWrapper(w, value):
            if not(isinstance(value, int)):
                try:
                    value = int(value)
                except TypeError:
                    raise TypeError('must be an int')
            return func(w, value)
        return validateIntWrapper

    @staticmethod
    def validateSize(func):
        def validateSizeWrapper(w, value):
            if not(isinstance(value, int)) and not(isinstance(value, float)):
                try:
                    value = float(value)
                except TypeError:
                    raise TypeError('must be an float')
            if value < 0:
                raise ValueError("mast be positive")
            return func(w, value)
        return validateSizeWrapper

    @staticmethod
    def validateAmount(func):
        def validateAmountWrapper(w, value):
            if not(isinstance(value, int)):
                try:
                    value = int(value)
                except TypeError:
                    raise TypeError('must be an int')
            if value < 0:
                raise ValueError("mast be positive")
            return func(w, value)
        return validateAmountWrapper

    @staticmethod
    def validateDate(func):
        def validateDateWrapper(w, date):
            datetime.strptime(date, '%Y-%m-%d')
            return func(w, date)
        return validateDateWrapper

    
    @staticmethod
    def validateCard(func):
        def validateCardWrapper(w, value):
            if not value.isdigit():
                raise ValueError("mast contain only digits")
            return func(w, value)
        return validateCardWrapper

    @staticmethod
    def validateFileName(end=".csv"):
        def validateFileNameDecorator(func):
            def validateFileNameWrapper(L, filename):
                if not filename.endswith(end):
                    raise ValueError("Incorrect filename, should end with ." + end + ".")
                return func(L, filename)
            return validateFileNameWrapper
        return validateFileNameDecorator

In [273]:
class Pretender:
    def __init__(self, p_last_name, p_first_name, p_id):
        self.p_last_name = p_last_name
        self.p_first_name = p_first_name
        self.p_id = p_id

    @property
    def p_last_name(self):
        return self._p_last_name
    
    @p_last_name.setter
    @Validation.validateStr
    def p_last_name(self, val):
        self._p_last_name = val

    @property
    def p_first_name(self):
        return self._p_first_name

    @p_first_name.setter
    @Validation.validateStr
    def p_first_name(self, val):
        self._p_first_name = val
    
    @property
    def p_id(self):
        return self._p_id
    
    @p_id.setter
    @Validation.validateInt
    def p_id(self, val):
        self._p_id = val

    def full_name(self):
        return f'{self.p_first_name} {self.p_last_name}'

    def __str__(self):
        return f'first name is {self.p_first_name}, last name is {self.p_last_name}, and id is {self.p_id}'

    def __repr__(self):
        return f'p_first_name ={self.p_first_name}, p_last_name = {self.p_last_name}, p_id = {self.p_id}'

In [274]:
class Test:
    def __init__(self, t_p_id, t_name, t_points):
        self.t_p_id = t_p_id
        self.t_name = t_name
        self.t_points = t_points

    @property
    def t_p_id(self):
        return self._t_p_id
    
    @t_p_id.setter
    @Validation.validateInt
    def t_p_id(self, val):
        self._t_p_id = val

    @property
    def t_name(self):
        return self._t_name
    
    @t_name.setter
    @Validation.validateStr
    def t_name(self, val):
        self._t_name = val

    @property
    def t_points(self):
        return self._t_points
    
    @t_points.setter
    @Validation.validateSize
    def t_points(self, val):
        self._t_points = val

    def __str__(self):
        return f'id is {self.t_p_id}, test name is {self.t_name}, and points {self.t_points}'

    def __repr__(self):
        return f't_p_id={self.t_p_id}, t_name={self.t_name}, t_points={self.t_points}'

In [275]:
def read_csv_file(file_name, t, objects):  
    with open(file_name, 'r') as v:
        r = csv.reader(v)
        next(r)
        for row in r:
            try:
                objects.append(t(*row))
            except Exception as e:
                print(f'{file_name}:\nline - {len(objects)}: {e}')
                continue

In [276]:
pretenders = []
tests = []

read_csv_file("pretenders.csv", Pretender, pretenders)
read_csv_file("tests.csv", Test, tests)

pretenders, tests

([p_first_name =Shawna, p_last_name = Schowalter, p_id = 1,
  p_first_name =Shawna, p_last_name = Conn, p_id = 2,
  p_first_name =Keegan, p_last_name = Parker, p_id = 3,
  p_first_name =Shaniya, p_last_name = Walter, p_id = 4,
  p_first_name =Nelda, p_last_name = Dietrich, p_id = 5,
  p_first_name =Alan, p_last_name = Lang, p_id = 6,
  p_first_name =Bart, p_last_name = Schmidt, p_id = 7,
  p_first_name =Casper, p_last_name = Gusikowski, p_id = 8,
  p_first_name =Katrina, p_last_name = Cole, p_id = 9,
  p_first_name =Citlalli, p_last_name = Farrell, p_id = 10],
 [t_p_id=1, t_name=Ukrainian, t_points=23.0,
  t_p_id=1, t_name=Math, t_points=70.0,
  t_p_id=2, t_name=Polish, t_points=99.0,
  t_p_id=2, t_name=Physics, t_points=51.0,
  t_p_id=3, t_name=Math, t_points=85.0,
  t_p_id=3, t_name=PE, t_points=30.0,
  t_p_id=4, t_name=Ukrainian, t_points=80.0,
  t_p_id=4, t_name=Polish, t_points=78.0,
  t_p_id=5, t_name=Chemistry, t_points=10.0,
  t_p_id=5, t_name=Physics, t_points=89.0,
  t_p_id=6, t_name=PE, t_points=89.0,
  t_p_id=6, t_name=Chemistry, t_points=40.0,
  t_p_id=7, t_name=Math, t_points=88.0,
  t_p_id=7, t_name=Polish, t_points=13.0,
  t_p_id=8, t_name=Physics, t_points=33.0,
  t_p_id=8, t_name=Polish, t_points=69.0,
  t_p_id=9, t_name=PE, t_points=20.0,
  t_p_id=9, t_name=Math, t_points=79.0,
  t_p_id=10, t_name=Polish, t_points=10.0,
  t_p_id=10, t_name=Ukrainian, t_points=94.0])

In [277]:
def draw_histogram(x, y, x_label, y_label, title): 
    fig, ax = plt.subplots(figsize=(10, 7))
    ax.bar(x, y, color='#EB984E', width=0.5, edgecolor='#154360')
    ax.set_title(title, color='black', size=50, fontweight='bold', pad=30)
    ax.set_ylabel(y_label, size=25, fontweight='bold')
    ax.set_xlabel(x_label, size=24, fontweight='bold')
    ax.tick_params(axis='x', rotation=70, direction='inout', pad=10, labelsize='large', length=10, width=2)
    ax.tick_params(axis='y', direction='inout', pad=10, labelsize='large', length=10, width=2)
    ax.patch.set_facecolor('#FCF3CF')
    fig.patch.set_facecolor('#73C6B6')         
    plt.show()

1. Отримати для учасника, заданого випадаючим списком, перелiк пре- дметiв з набраними балами, впорядковуючи його за спаданням балiв (вра-
ховувати лише наявнi результати);<br>
1а.побудувати дiаграму результатiв заданого учасника.<br>

In [278]:
surnames = [(pretender.full_name(), pretender) for pretender in pretenders]

def task1(pretender):
    pretender_tests = sorted([(test.t_name, test.t_points) for test in tests if test.t_p_id == pretender.p_id], key=lambda t: t[1])

    print(f'{pretender.p_last_name}:')
    for t in pretender_tests:
        print(t[0] + " - " + str(t[1]))
        
    x, y = zip(*pretender_tests)
    draw_histogram(x, y, "Test", "Points", pretender.full_name())

interact(task1, pretender=sorted(surnames));

interactive(children=(Dropdown(description='pretender', options=(('Alan Lang', p_first_name =Alan, p_last_name…

2. Для предмета, заданого випадаючим списком, отримати рейтинг уча- сникiв за результатами тестiв;<br>
2а.побудувати дiаграму результатiв заданого предмета вiдповiдно до п.2.<br>

In [279]:
tests_names = {}
for test in tests:
    tests_names.setdefault(test.t_name, []).append(test)

def task1(test):
    test_pretenders = sorted([(pret.full_name(), t.t_points) for pret in pretenders for t in test if t.t_p_id == pret.p_id], key=lambda t: t[1], reverse=True)
    
    print(f'{test[0].t_name}:')
    for t in test_pretenders:
        print(t[0] + " - " + str(t[1]))
        
    x, y = zip(*test_pretenders)
    draw_histogram(x, y, "Pretendents", "Points", test[0].t_name)

interact(task1, test=tests_names);

interactive(children=(Dropdown(description='test', options={'Ukrainian': [t_p_id=1, t_name=Ukrainian, t_points…

3. Для факультету, заданого випадаючим списком, побудувати рейтинг претендентiв за сумою результатiв (бiльших за прохiдний бал, який
зада- вати слайдером для кожного предмета) з вiдповiдних предметiв;<br>
3а.побудувати дiаграму претендентiв для п.3.<br>
3б.За допомогою текстового вiджета задати кiлькiсть мiсць для зараху- вання на факультет за п.3 i отримати фiнальний список.<br>

In [280]:
faculties = {
    'Applied Mathematic': ['Math', 'Physics'],
    'Filology': ['Ukrainian', 'Polish'],
    'Physical': ['PE', 'Chemistry']
}

def task3(faculty, p, amount):
    try: 
        amount = int(amount)
    except Exception:
        print("Amount should be an integer")
        return

    bests = {}
    for pr in pretenders:
        bests[pr.full_name()]= sum([test.t_points for t in faculty for test in tests if t == test.t_name if pr.p_id == test.t_p_id])
    best_pretendents = sorted([(k, v) for k, v in bests.items() if v > p], key=lambda k: k[1], reverse=True)[:int(amount)]
    for i in best_pretendents:
        print(f'{i[0]} - {i[1]}')

    try:
        x, y = zip(*best_pretendents)
    except Exception:
        print("Ther's now students with such good points!")
        return

    draw_histogram(x, y, "Pretentents", "Points", faculty)

   
present_value = ipywidgets.IntSlider(min=0, max=200, step=5, value=30, description='passing score', continuous_update=False)
text = ipywidgets.Text(value='100', placeholder='Type amount', disabled=False)
interact(task3, faculty=faculties, p=present_value, amount=text);

interactive(children=(Dropdown(description='faculty', options={'Applied Mathematic': ['Math', 'Physics'], 'Fil…

# Pandas

In [281]:
pretenders = pd.read_csv("pretenders.csv")
tests = pd.read_csv("tests.csv")

display(pretenders)
display(tests)


big_df = pd.merge(tests, pretenders, on='p_id', how='left')
big_df["full_name"] = big_df["p_first_name"] + " " + big_df["p_last_name"]
big_df = big_df.drop(["p_first_name", "p_last_name"], axis=1)
display(big_df)

  p_last_name p_first_name  p_id
0  Schowalter       Shawna     1
1        Conn       Shawna     2
2      Parker       Keegan     3
3      Walter      Shaniya     4
4    Dietrich        Nelda     5
5        Lang         Alan     6
6     Schmidt         Bart     7
7  Gusikowski       Casper     8
8        Cole      Katrina     9
9     Farrell     Citlalli    10

    p_id     t_name  t_points
0      1  Ukrainian        23
1      1       Math        70
2      2     Polish        99
3      2    Physics        51
4      3       Math        85
5      3         PE        30
6      4  Ukrainian        80
7      4     Polish        78
8      5  Chemistry        10
9      5    Physics        89
10     6         PE        89
11     6  Chemistry        40
12     7       Math        88
13     7     Polish        13
14     8    Physics        33
15     8     Polish        69
16     9         PE        20
17     9       Math        79
18    10     Polish        10
19    10  Ukrainian        94

    p_id     t_name  t_points          full_name
0      1  Ukrainian        23  Shawna Schowalter
1      1       Math        70  Shawna Schowalter
2      2     Polish        99        Shawna Conn
3      2    Physics        51        Shawna Conn
4      3       Math        85      Keegan Parker
5      3         PE        30      Keegan Parker
6      4  Ukrainian        80     Shaniya Walter
7      4     Polish        78     Shaniya Walter
8      5  Chemistry        10     Nelda Dietrich
9      5    Physics        89     Nelda Dietrich
10     6         PE        89          Alan Lang
11     6  Chemistry        40          Alan Lang
12     7       Math        88       Bart Schmidt
13     7     Polish        13       Bart Schmidt
14     8    Physics        33  Casper Gusikowski
15     8     Polish        69  Casper Gusikowski
16     9         PE        20       Katrina Cole
17     9       Math        79       Katrina Cole
18    10     Polish        10   Citlalli Farrell
19    10  Ukrainian        94   Citlalli Farrell

1. Отримати для учасника, заданого випадаючим списком, перелiк пре- дметiв з набраними балами, впорядковуючи його за спаданням балiв (вра-
ховувати лише наявнi результати);<br>
1а.побудувати дiаграму результатiв заданого учасника.<br>

In [282]:
surnames = set(big_df["full_name"])
def task1(pretender):
    df1 = big_df[big_df["full_name"] == pretender].sort_values(by=['t_points'], ascending=False)
    df1 = df1.drop(["full_name", "p_id"], axis=1)
    display(df1)
    
    df1.plot(x="t_name", y="t_points", kind='bar', title=pretender, figsize=(10, 5), rot=30, color= '#73C6B6');

interact(task1, pretender=surnames);

interactive(children=(Dropdown(description='pretender', options=('Nelda Dietrich', 'Bart Schmidt', 'Citlalli F…

2. Для предмета, заданого випадаючим списком, отримати рейтинг уча- сникiв за результатами тестiв;<br>
2а.побудувати дiаграму результатiв заданого предмета вiдповiдно до п.2.<br>

In [283]:
tests_names = set(big_df["t_name"])
def task1(test):
    df1 = big_df[big_df["t_name"] == test].sort_values(by=['t_points'], ascending=False)
    df1 = df1.drop(["t_name", "p_id"], axis=1)
    display(df1)
    
    df1.plot(x="full_name", y="t_points", kind='bar', title=test, figsize=(10, 5), rot=30, color= '#73C6B6');

interact(task1, test=tests_names);

interactive(children=(Dropdown(description='test', options=('Ukrainian', 'Math', 'Polish', 'PE', 'Physics', 'C…

3. Для факультету, заданого випадаючим списком, побудувати рейтинг претендентiв за сумою результатiв (бiльших за прохiдний бал, який
зада- вати слайдером для кожного предмета) з вiдповiдних предметiв;<br>
3а.побудувати дiаграму претендентiв для п.3.<br>
3б.За допомогою текстового вiджета задати кiлькiсть мiсць для зараху- вання на факультет за п.3 i отримати фiнальний список.<br>

In [284]:
faculties = {
    'Applied Mathematic': ['Math', 'Physics'],
    'Filology': ['Ukrainian', 'Polish'],
    'Physical': ['PE', 'Chemistry']
}

def task3(faculty, p, amount):
    try: 
        amount = int(amount)
    except Exception:
        print("Amount should be an integer")
        return

    df1 = big_df[(big_df["t_name"] == faculty[0]) | (big_df["t_name"] == faculty[1])]
    df1 = df1.groupby(["full_name"])['t_points'].sum().reset_index().sort_values(by=['t_points'], ascending=False)
    df1 = df1[df1["t_points"] > p].reset_index()
    display(df1)
    df1.plot(x="full_name", y="t_points", kind='bar', title=str(faculty), figsize=(10, 5), rot=30, color= '#73C6B6');
    df1 = df1.truncate(before=0, after=amount-1)
    display(df1)

present_value = ipywidgets.IntSlider(min=0, max=200, step=5, value=30, description='passing score', continuous_update=False)
text = ipywidgets.Text(value='100', placeholder='Type amount', disabled=False)
interact(task3, faculty=faculties, p=present_value, amount=text);

interactive(children=(Dropdown(description='faculty', options={'Applied Mathematic': ['Math', 'Physics'], 'Fil…