Розробити типи для обслуговування читачiв у студентськiй бiблiотецi.<br>
Читач характеризується iменем i прiзвищем та реєстрацiйним номером. За-<br>
мовлення характеризується датою, реєстрацiйним номером читача, автором<br>
книги i назвою книги. Iнформацiя про читачiв подана окремим файлом. За-<br>
мовлення також подано кiлькома (> одного) окремими файлами. Отримати<br>
двома способами – “з” та “без” – pandas:<br>

1. Для кожного читача ( за iменем i прiзвищем) повний перелiк (без<br>
повторень) авторiв замовлених книг iз вказанням їх кiлькостi ( з усiх його<br>
замовленнь);<br>
1а. прiзвище читача вибирати з випадаючого списку;<br>
1б. побудувати дiаграму популярностi авторiв.<br>

2. Рейтинг читачiв за загальною кiлькiстю замовлених книг за схемою:<br>
прiзвище та iм’я читача i загальна кiлькiсть книг у всiх його замовленнях;<br>
2а. задати за допомогою вiджета перiод часу, за який будується рейтинг;<br>
2б.рейтинг студентiв iлюстувати дiаграмою.<br>

3. для кожної книги кiлькiсть замовлень;<br>
3а.задати за допомогою вiджета перелiк книг, для яких шукають кiль-<br>
кiсть замовлень;<br>
3б. задати перелiк кних, в назвi яких зустрiчається заданий рядок сим-<br>
волiв.<br>

In [1]:
import csv
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets
from datetime import datetime

# Withoun Pandas

In [2]:
class Validation:
    """Class for Validation representation."""

    @staticmethod
    def validateStr(func):
        def validateStrWrapper(w, value):
            if not(isinstance(value, str)):
                raise TypeError('must be an str')
            return func(w, value)
        return validateStrWrapper

    @staticmethod
    def validateFloat(func):
        def validateFloatWrapper(w, value):
            if not(isinstance(value, float)) and not(isinstance(value, int)):
                try:
                    value = float(value)
                except TypeError:
                    raise TypeError('must be an float')
            return func(w, value)
        return validateFloatWrapper

    @staticmethod
    def validateInt(func):
        def validateIntWrapper(w, value):
            if not(isinstance(value, int)):
                try:
                    value = int(value)
                except TypeError:
                    raise TypeError('must be an int')
            return func(w, value)
        return validateIntWrapper

    @staticmethod
    def validateSize(func):
        def validateSizeWrapper(w, value):
            if not(isinstance(value, int)) and not(isinstance(value, float)):
                try:
                    value = float(value)
                except TypeError:
                    raise TypeError('must be an float')
            if value < 0:
                raise ValueError("mast be positive")
            return func(w, value)
        return validateSizeWrapper

    @staticmethod
    def validateAmount(func):
        def validateAmountWrapper(w, value):
            if not(isinstance(value, int)):
                try:
                    value = int(value)
                except TypeError:
                    raise TypeError('must be an int')
            if value < 0:
                raise ValueError("mast be positive")
            return func(w, value)
        return validateAmountWrapper

    @staticmethod
    def validateDate(func):
        def validateDateWrapper(w, date):
            date = datetime.strptime(date, '%Y-%m-%d')
            return func(w, date)
        return validateDateWrapper
    
    @staticmethod
    def validateBool(func):
        def validateBoolWrapper(w, value):
            bools = ['yes', 'no', 'Yes', 'No', '0', '1', 0, 1, True, False, 'True', 'False']
            if value not in bools:
                raise ValueError("mast be boolean")
            return func(w, value)
        return validateBoolWrapper

In [3]:
class Reader():
    def __init__(self, name, surname, iden):
        self.name = name
        self.surname = surname
        self.iden = iden

    @property
    def name(self):
        return self._name

    @name.setter
    @Validation.validateStr
    def name(self, value):
        self._name = value

    @property
    def surname(self):
        return self._surname

    @surname.setter
    @Validation.validateStr
    def surname(self, value):
        self._surname = value

    @property
    def iden(self):
        return self._iden

    @iden.setter
    @Validation.validateAmount
    def iden(self, value):
        self._iden = value

    def fullname(self):
        return self.name + ' ' + self.surname 

    def __str__(self):
        return f'Name: {self.name} Surname: {self.surname} ID-Number: {self.iden}'

    def __repr__(self):
        return f'Name: {self.name} Surname: {self.surname} ID-Number: {self.iden}'

In [4]:
class Order():
    def __init__(self, iden, data, author, book):
        self.data = data
        self.iden = iden
        self.author = author
        self.book = book

    @property
    def data(self):
        return self._data

    @data.setter
    @Validation.validateDate
    def data(self, value):
        self._data = value

    @property
    def iden(self):
        return self._iden

    @iden.setter
    @Validation.validateAmount
    def iden(self, value):
        self._iden = value
        
    @property
    def author(self):
        return self._author

    @author.setter
    @Validation.validateStr
    def author(self, value):
        self._author = value
        
    @property
    def book(self):
        return self._book

    @book.setter
    @Validation.validateStr
    def book(self, value):
        self._book = value

    def __str__(self):
        return f'ID-Number: {self.iden} Date: {self.data} Author: {self.author} Book: {self.book} '

    def __repr__(self):
        return f'ID-Number: {self.iden} Date: {self.data} Author: {self.author} Book: {self.book} '

In [5]:
def read_csv_file(file_name, t, objects):  
    with open(file_name, 'r') as v:
        r = csv.reader(v)
        next(r)
        for row in r:
            try:
                objects.append(t(*row))
            except Exception as e:
                print(f'{file_name}:\nline - {len(objects)}: {e}')
                continue

In [6]:
readers = []
orders = []

read_csv_file("reader.csv", Reader, readers)
read_csv_file("order.csv", Order, orders)

readers, orders

([Name: Valeria Surname: Mahdenko ID-Number: 1,
  Name: Sophia Surname: Shuvar ID-Number: 2,
  Name: Nastya Surname: Veres ID-Number: 3,
  Name: Max Surname: Stefankiv ID-Number: 4,
  Name: Volodya Surname: Konko ID-Number: 5,
  Name: Oksana Surname: Somar ID-Number: 6],
 [ID-Number: 1 Date: 2020-12-11 00:00:00 Author: author3 Book: book2 ,
  ID-Number: 3 Date: 2020-11-12 00:00:00 Author: author1 Book: book4 ,
  ID-Number: 5 Date: 2020-08-11 00:00:00 Author: author2 Book: book3 ,
  ID-Number: 3 Date: 2020-10-09 00:00:00 Author: author4 Book: book1 ,
  ID-Number: 2 Date: 2020-11-09 00:00:00 Author: author3 Book: book6 ,
  ID-Number: 2 Date: 2020-09-09 00:00:00 Author: author3 Book: book2 ,
  ID-Number: 4 Date: 2020-12-10 00:00:00 Author: author2 Book: book3 ,
  ID-Number: 6 Date: 2020-09-12 00:00:00 Author: author1 Book: book5 ])

1. Для кожного читача ( за iменем i прiзвищем) повний перелiк (без<br>
повторень) авторiв замовлених книг iз вказанням їх кiлькостi ( з усiх його<br>
замовленнь);<br>
1а. прiзвище читача вибирати з випадаючого списку;<br>
1б. побудувати дiаграму популярностi авторiв.<br>

In [7]:
d = {}
for reader in readers:
    d[reader.fullname()] = {}
    for o in orders:
        if reader.iden == o.iden:
            d[reader.fullname()].setdefault(o.author, 0)
            d[reader.fullname()][o.author] += 1

for (k, v) in d.items():
    print(k, ":")
    for (kk, vv) in v.items():
        print(f'\t{kk} - {vv}')
    print()

Valeria Mahdenko :
	author3 - 1

Sophia Shuvar :
	author3 - 2

Nastya Veres :
	author1 - 1
	author4 - 1

Max Stefankiv :
	author2 - 1

Volodya Konko :
	author2 - 1

Oksana Somar :
	author1 - 1

In [8]:
def draw_histogram(x, y, x_label, y_label, title): 
    fig, ax = plt.subplots(figsize=(10, 7))
    ax.bar(x, y, color='#EB984E', width=0.5, edgecolor='#154360')
    ax.set_title(title, color='black', size=50, fontweight='bold', pad=30)
    ax.set_ylabel(y_label, size=25, fontweight='bold')
    ax.set_xlabel(x_label, size=24, fontweight='bold')
    ax.tick_params(axis='x', rotation=70, direction='inout', pad=10, labelsize='large', length=10, width=2)
    ax.tick_params(axis='y', direction='inout', pad=10, labelsize='large', length=10, width=2)
    ax.patch.set_facecolor('#FCF3CF')
    fig.patch.set_facecolor('#73C6B6')         
    plt.show()

In [9]:
def task1(reader, plot=False):
    for (k, v) in reader.items():
        print(f"{k} - {v}")
    if plot:
        draw_histogram(list(reader.keys()), list(reader.values()), "Authors", "Amount of books", "Reader Diagram")
    
interact(task1, reader=d);

interactive(children=(Dropdown(description='reader', options={'Valeria Mahdenko': {'author3': 1}, 'Sophia Shuv…

2. Рейтинг читачiв за загальною кiлькiстю замовлених книг за схемою:<br>
прiзвище та iм’я читача i загальна кiлькiсть книг у всiх його замовленнях;<br>
2а. задати за допомогою вiджета перiод часу, за який будується рейтинг;<br>
2б.рейтинг студентiв iлюстувати дiаграмою.<br>

In [10]:
dd = {k: sum(list(v.values())) for k, v in d.items()}
dd = dict(sorted(dd.items(), key=lambda x: x[1], reverse=True))
print(dd)

dates = pd.date_range(datetime(2020, 1, 1), datetime(2020, 12, 30), freq='D')
options=[(date.strftime(' %d %b %Y '), date) for date in dates]

selection_range_slider = widgets.SelectionRangeSlider(
    options=options,
    index=(0, len(options)-1),
    description='Dates',
    orientation='horizontal',
    layout={'width': '500px', "color": 'red'}
)

def choose(dates, plot=False):
    dates = datetime.strptime(str(dates[0]), '%Y-%m-%d %H:%M:%S'), datetime.strptime(str(dates[1]), '%Y-%m-%d %H:%M:%S')
    ooo = list(filter(lambda k: k.data > dates[0] and k.data < dates[1], orders))
    dd = {}
    for reader in readers:
        for o in ooo:
            if reader.iden == o.iden:
                dd.setdefault(reader.fullname(), 0)
                dd[reader.fullname()] += 1
    dd = dict(sorted(dd.items(), key=lambda x: x[1], reverse=True))
    if plot:
        draw_histogram(list(dd.keys()), list(dd.values()), "Readers", "Amount of books", "Reader Diagram")
    
interact(choose, dates=selection_range_slider);

{'Sophia Shuvar': 2, 'Nastya Veres': 2, 'Valeria Mahdenko': 1, 'Max Stefankiv': 1, 'Volodya Konko': 1, 'Oksana Somar': 1}

interactive(children=(SelectionRangeSlider(description='Dates', index=(0, 364), layout=Layout(width='500px'), …

3. для кожної книги кiлькiсть замовлень;<br>
3а.задати за допомогою вiджета перелiк книг, для яких шукають кiль-<br>
кiсть замовлень;<br>
3б. задати перелiк кних, в назвi яких зустрiчається заданий рядок сим-<br>
волiв.<br>

In [11]:
d = {}
for o in orders:
    d.setdefault(o.book, 0)
    d[o.book] += 1

for (k, v) in d.items():
    print(k, " : ", v)

book2  :  2
book4  :  1
book3  :  2
book1  :  1
book6  :  1
book5  :  1

In [12]:
def task3(book):
    print(book)
    
interact(task3, book=d);

interactive(children=(Dropdown(description='book', options={'book2': 2, 'book4': 1, 'book3': 2, 'book1': 1, 'b…

In [13]:
text=widgets.Textarea(
    value='',
    placeholder='Type something',
    description='Books:',
    disabled=False
)
def task3c(text):
    l_b = list(filter(lambda k: text in k, list(d.keys())))
    print(l_b)
   
interact(task3c, text=text);

interactive(children=(Textarea(value='', description='Books:', placeholder='Type something'), Output()), _dom_…

# With Pandas

In [14]:
readers = pd.read_csv('reader.csv')
cols = ["name", "surname"]
readers['full_name'] = readers[cols].apply(lambda row: ' '.join(row.values.astype(str)), axis=1)
readers = readers.drop(cols, axis=1)

orders = pd.read_csv('order.csv')

big_df = readers.merge(orders, on='iden')
display(big_df)

   iden         full_name        data   author   book
0     1  Valeria Mahdenko  2020-12-11  author3  book2
1     2     Sophia Shuvar  2020-11-09  author3  book6
2     2     Sophia Shuvar  2020-09-09  author3  book2
3     3      Nastya Veres  2020-11-12  author1  book4
4     3      Nastya Veres  2020-10-09  author4  book1
5     4     Max Stefankiv  2020-12-10  author2  book3
6     5     Volodya Konko  2020-08-11  author2  book3
7     6      Oksana Somar  2020-09-12  author1  book5

1. Для кожного читача ( за iменем i прiзвищем) повний перелiк (без<br>
повторень) авторiв замовлених книг iз вказанням їх кiлькостi ( з усiх його<br>
замовленнь);<br>
1а. прiзвище читача вибирати з випадаючого списку;<br>
1б. побудувати дiаграму популярностi авторiв.<br>

In [15]:
df1 = big_df.loc[:, ['full_name', 'author', 'book']]
df1["amount"] = 1
df1["amount"] = df1.groupby(["full_name", "author"])['amount'].transform('sum')
df1 = df1.drop_duplicates(subset=['full_name', "author"])
df1 = df1.drop("book", axis=1)
df1

          full_name   author  amount
0  Valeria Mahdenko  author3       1
1     Sophia Shuvar  author3       2
3      Nastya Veres  author1       1
4      Nastya Veres  author4       1
5     Max Stefankiv  author2       1
6     Volodya Konko  author2       1
7      Oksana Somar  author1       1

In [16]:
def task1(reader, plot=False):
    df11 = df1[df1["full_name"] == reader]
    df11 = df11.loc[:, ['author', 'amount']]
    display(df11)
    if plot:
        df11.plot(x='author', y="amount", kind='bar', title=reader, figsize=(10, 5), rot=30, color='#73C6B6');
    
interact(task1, reader=set(df1["full_name"]));

interactive(children=(Dropdown(description='reader', options=('Max Stefankiv', 'Oksana Somar', 'Sophia Shuvar'…

2. Рейтинг читачiв за загальною кiлькiстю замовлених книг за схемою:<br>
прiзвище та iм’я читача i загальна кiлькiсть книг у всiх його замовленнях;<br>
2а. задати за допомогою вiджета перiод часу, за який будується рейтинг;<br>
2б.рейтинг студентiв iлюстувати дiаграмою.<br>

In [17]:
df2 = df1.copy()
df2["amount"] = df2.groupby(["full_name"])['amount'].transform('sum')
df2 = df2.drop_duplicates(subset=['full_name'])
df2 = df2.drop("author", axis=1)
df2 = df2.sort_values("amount", ascending=False)
df2

          full_name  amount
1     Sophia Shuvar       2
3      Nastya Veres       2
0  Valeria Mahdenko       1
5     Max Stefankiv       1
6     Volodya Konko       1
7      Oksana Somar       1

In [20]:
d_min = np.min(big_df['data'])
d_max = np.max(big_df['data'])
dates = pd.date_range(d_min, d_max, freq='D')

options=[(date.strftime(' %d %b %Y '), date) for date in dates]

selection_range_slider = widgets.SelectionRangeSlider(
    options=options,
    index=(0, len(options)-1),
    description='Dates',
    orientation='horizontal',
    layout={'width': '500px', "color": 'red'}
)

def choose(dates, plot=False):
    dates = datetime.strptime(str(dates[0]), '%Y-%m-%d %H:%M:%S'), datetime.strptime(str(dates[1]), '%Y-%m-%d %H:%M:%S')
    big_df['data'] = big_df['data'].apply(lambda x: datetime.strptime(str(x), '%Y-%m-%d %H:%M:%S'))
    df2 = big_df[(big_df["data"] > dates[0]) & (big_df["data"] < dates[1])]
    df2 = df2.loc[:, ['full_name', 'author', 'book']]
    df2["amount"] = 1
    df2["amount"] = df2.groupby(["full_name"])['amount'].transform('sum')
    df2 = df2.drop_duplicates(subset=['full_name'])
    df2 = df2.drop(["book", "author"], axis=1)
    df2 = df2.sort_values("amount", ascending=False)

    display(df2)

    if plot:
        if df2.empty:
             print('DataFrame is empty!')
        else:
            df2.plot(x='full_name', y="amount", kind='bar', title="Reader Diagram", figsize=(10, 5), rot=30, color='#73C6B6');
    
interact(choose, dates=selection_range_slider);

interactive(children=(SelectionRangeSlider(description='Dates', index=(0, 122), layout=Layout(width='500px'), …